.upload-field_type {

    .attachment {
        margin-top: 1rem;
        border-radius: 3px;
        display: inline-block;
        border: 1px solid #eceeef;

        .preview {
            padding: 2rem;
            display: inline-block;
            background: #eceeef;
        }

        .details {
            padding: 0 2rem;
            display: inline-block;
            vertical-align: middle;

            .name {
                font-weight: bold;
            }

            .location {
                color: #888888;
                font-size: .875rem;
            }

            .controls {
                margin-top: 1rem;
            }
        }
    }
}
